*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


body {
  min-width: 375px;
  max-width: 1400px;
  color: $color-primary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  

 
}
a {
  text-decoration: none;
  color: $color-primary;
  &:hover {
    cursor: pointer;
  }
}
ul {
  list-style-type: none;
}
